* {
  box-sizing: border-box;
}

body {
  /*font-family: 'Roboto', sans-serif;*/
  font-family: 'Special Elite', sans-serif;
  color: #333;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  color: $mainOrange;
}

.clearfix {
  &::after {
    content: '';
    clear: both;
    display: table;
  }
}
