.feature-item {
  position: relative;
  padding-bottom: 2.5rem;

  @mixin break-sm {
    padding-left: 94px;
  }

  &__icon {
    display: block;
    margin: 0 auto;

    @mixin break-sm {
      position: absolute;
      left: 0;
    }
  }

  &__title {
    font-family: 'Vollkorn SC', serif;
    font-size: 1.6rem;
    font-weight: 300;
    margin-top: .7em;
    margin-bottom: 0.8rem;
    text-align: center;

    @mixin break-sm {
      font-size: 1.875rem;
      text-align: left;
    }
  }
}