.page-section {
  padding: 1.2rem 0;

  @mixin break-md {
    padding: 4.5rem 0;
  }

  &--blue {
    color: white;
    background-color: $mainBlue;
  }

  &--no-b-padding-until-md {
    padding-bottom: 0;

    @mixin break-md {
      padding-bottom: 4.5rem; 
    }
  }

  &--no-b-padding-until-lg {
    padding-bottom: 0;

    @mixin break-lg {
      padding-bottom: 4.5rem; 
    }
  }

  &--location {
    background-color: #e0e6ef;

    @mixin break-lg {
      background: url(/assets/images/location-bg.jpg) top center no-repeat;
      background-size: cover;
    }
  }
}